.gradle
/local.properties
.idea
*.un~
*.iml
*.class
*.dex
*.apk
*.ap_
*.hprof
.DS_Store
/build
Thumbs.db
**.project
**.settings
app/build/
app/.kotlintest/spec_failures
android-viewbinding/build/
android-viewbinding/.kotlintest/spec_failures
